.title {
    text-align: center;
    font-family: 'Odibee Sans', cursive;
    font-weight: 400;
    font-size: 50px;
}

.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'Odibee Sans', cursive;
}

.controls {
    text-align: center;
}

/* Size slider */ 

.controls__size {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls__size-label {
    font-size: 36px;
}

.controls__input-container {
    display: flex;
    margin-top: 15px;
}

.controls__size-limiter {
    font-size: 36px;
    margin: 0 15px;
}

.controls__size-input {
    -webkit-appearance: none; 
    background: transparent;
    width: 512px;
}

.controls__size-input:focus {
    outline: none;
}

.controls__size-input:-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/* Slider thumb */

.controls__size-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #333;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #333, 0px 0px 1px #0d0d0d; 
}

.controls__size-input::-moz-range-thumb {
    box-shadow: 1px 1px 1px #333, 0px 0px 1px #0d0d0d;
    border: 1px solid #333;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

.controls__size-input::-ms-thumb {
    box-shadow: 1px 1px 1px #333, 0px 0px 1px #0d0d0d;
    border: 1px solid #333;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* Slider track */

.controls__size-input::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: linear-gradient(90deg, rgb(0, 255, 179) 30%, rgb(0, 4, 247));
    border: 0.2px solid #010101;
}

.controls__size-input:focus::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, rgb(0, 255, 179) 30%, rgb(0, 4, 247));;
}

.controls__size-input::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: linear-gradient(90deg, rgb(0, 255, 179) 30%, rgb(0, 4, 247));;
    border: 0.2px solid #010101;
}

.controls__size-input::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
.controls__size-input::-ms-fill-lower {
    background: linear-gradient(90deg, rgb(0, 255, 179) 30%, rgb(0, 4, 247));;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.controls__size-input:focus::-ms-fill-lower {
    background: linear-gradient(90deg, rgb(0, 255, 179) 30%, rgb(0, 4, 247));;
}
.controls__size-input::-ms-fill-upper {
    background: linear-gradient(90deg, rgb(0, 255, 179) 30%, rgb(0, 4, 247));;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.controls__size-input:focus::-ms-fill-upper {
    background: linear-gradient(90deg, rgb(0, 255, 179) 30%, rgb(0, 4, 247));;
}

/* Color picker */

.controls__color {
    margin-bottom: 30px;
}

.controls__color-label {
    font-size: 36px;
}

.controls__color-radio {
    margin-top: 15px;
    height: 60px;
    display: flex;
    justify-content: center;
}

.controls__color-container {
    position: relative;
    margin-right: 60px;
    width: 60px;
    height: 60px;
}

.controls__color-container:last-child {
    margin-right: 0;
}

.controls__color-container:hover {
    cursor: pointer;
}

.controls__color-picker {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.controls__color-checkmark {
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background-color: #eee;
    border-radius: 50%;
}

#black ~ .controls__color-checkmark {
    background-color: black;
}

#red ~ .controls__color-checkmark{
    background-color: red;
}

#green ~ .controls__color-checkmark{
    background-color: green;
}

#blue ~ .controls__color-checkmark{
    background-color: blue;
}

#rainbow ~ .controls__color-checkmark{
    background: linear-gradient(red 0, red 8.5px, orange 8.5px, orange 17px, yellow 17px, yellow 25.5px, green 25.5px, green 34px, blue 34px, blue 42.5px, indigo 42.5px, indigo 51px, purple 51px);
}

.controls__color-checkmark_chosen::after {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    top: 5px;
    width: 15px;
    height: 35px;
    transform: rotate(45deg);
    border-bottom: 5px solid white;
    border-right: 5px solid white;
}

/* Method picker */

.controls__method-refresh-container {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.controls__method {
    width: 50%;
}

.controls__method-label {
    font-size: 36px;
    margin-bottom: 15px;
}

.controls__method-container {
    display: inline-block;
    position: relative;
    margin-right: 60px;
}

.controls__method-container:hover {
    cursor: pointer;
}

.controls__method-container:last-child {
    margin-right: 0;
}

.controls__method-title {
    font-size: 24px;
}

.controls__method-picker {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.controls__method-checkmark {
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: 45px;
    left: 3px;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border-radius: 50%;
}

.controls__method-checkmark_chosen::after {
    content: '';
    display: block;
    position: absolute;
    left: 10px;
    top: 5px;
    width: 7px;
    height: 12px;
    transform: rotate(45deg);
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

/* Refresh button */

.controls__refresh {
    width: 50%;
}

.controls__refresh-label {
    font-size: 36px;
    margin-bottom: 15px;
}

.controls__refresh-button {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-image: url('imgs/refresh.svg');
}

.controls__refresh-button:hover {
    cursor: pointer;
}

/* Drawing field */

.field {
    border-collapse: collapse;
}

.cell {
    border: 1px solid black;
}